* {
    font-family: 'Baloo Bhai 2', cursive;
}

body{
    width: 100%;
    margin: 0;
    padding: 0;
}

.banner{
    background-image: linear-gradient(to right , #2570b8 , #0959a7);
    color: #fff;
    padding: 3% 3% 0;
}

.banner-svg svg {
    background-image: linear-gradient(to right , #2570b8 , #0959a7);
    width: 100%;
    padding: 0 !important;
}

.left_banner {
    height: 40%;
    width: 100%;
}

.nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar{
    background-image: linear-gradient(to right , #2570b8 , #0959a7);
    padding: 0 !important;
}

.navbar-nav li {
    padding: 0.4rem 1rem;
}

.navbar-nav li a{
    font-size: 1.25rem;
    color: #fff !important;
    font-weight: 500;
    float: right;
    text-align: left;
}

.banner-title {
    font-size: 2.2rem;
    font-weight: 600;
    margin-top: 8%;
    margin-bottom: 0;
    padding-bottom: 0;
}

.fa-bars {
    color: #fff;
    font-size: 1.6rem !important;
}

.navbar-toggler {
    outline: none !important;
}

.footer {
    position: relative;
    bottom: 0;
}